.PortfolioGallery {
    padding: 5% 5% 5% 25%;
    margin-top: 0;
}

.PortfolioGallery:last-child {
    margin-bottom: 0;
}

@media (max-width: 1035px) {
    .PortfolioGallery {
        margin: 0;
        padding: 5%;
        width: 100%;
    }
}