.SideMenu {
    position: fixed;
    background-color: rgba(82, 80, 83, .7);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    z-index: 10;

    /* width to transition to 20% on page load over 5s */
    width: 60%; 
    transition: width 2s;
}

.Logo {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.Footer {
    padding: .5rem 0;
    background-image: linear-gradient(to right, #747075 , #f2f2f3, #747075);
}

.Footer li {
    list-style: none;
}

.Footer li i {
    font-size: 2rem;
}

.Footer li h4 {
    margin: .5rem;
}