.ContactMe {
    margin-left: 20%;
    padding: 5%;
    background-color: white;
    width: 80%;
}

@media (max-width: 1035px) {
    .ContactMe {
        margin-left: 0;
        padding: 5%;
        width: 100%;
    }
}