.NavigationItems {
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.NavigationItems li {
    list-style: none;
    color: white;
    padding: .5rem 3rem;
    font-size: 1.5rem;
}