.NavigationItems {
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.NavigationItems li {
    list-style: none;
    color: white;
    padding: .5rem 3rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.MenuLink {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    outline-color: #9F9DA1;
  }
  
.MenuLink:hover {
color: #9F9DA1
}